* {
    margin: 0%;
    padding: 0;
}

body {
    background-color: gold;
}

.class {
    margin: 10%;
    padding: 10% 18%;
    border: 250px solid;
    border-image: url(image/gold.jpg) 30% / 90px / 70px;
    border-image-repeat: round;
    border-image-outset: 50px;
    border-radius: 40%;
}